@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  overflow-x: hidden;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #ffffff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #ff0000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*Section Utama */
.headsection {
  display: flex;
}

.logocontent {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  margin-left: 40px;
}

.logocontent img {
  height: 119px;
  width: 170px;
  margin-left: -15px;
}

.text-head h1 {
  color: #a5e1e2;
  font-size: 60px;
}

.headcontent {
  text-align: left;
  background-color: #ff0000;
  border-radius: 20px 0px 0px 20px;
  height: 49rem;
}

.headcontent img {
  margin: 48px 0px 0px -159px;
  height: 42rem;
}

.text-head2 {
  padding: 10px;
  margin-top: -515px;
  margin-left: 210px;
}

.text-head2 h1 {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 4px #000000;
  font-family: "Bebas Neue";
  font-size: 6rem;
  line-height: 100px;
}

.text-head2 ul li {
  color: #ffffff;
  font-size: 23px;
}

.text-head2 a {
  margin-left: 10px;
}
/*End Section Utama */

/*Section Support */

.section-support {
  display: flex;
  padding: 5rem;
  text-align: center;
  background: #a5e1e2;
  border-radius: 20px;
}

.section-support .support-1 {
  border-right: 2px solid;
}

.section-support .support-2 {
  border-right: 2px solid;
}
/* End Section Support */

/*Section About */
.section-about {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.section-about .about {
  margin-left: 85px;
}

.section-about a {
  text-decoration: none;
  color: #000000;
  padding: 0 10px;
  box-shadow: inset 0 -0.6em 0 0 #ffa500;
}

.section-about img {
  height: 24rem;
}
/*End Section About */

/*Section About2 */
.section-about2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.section-about2 a {
  text-decoration: none;
  color: #000000;
  padding: 0 10px;
  box-shadow: inset 0 -0.6em 0 0 #ffa500;
}

.section-about2 img {
  height: 24rem;
  border-radius: 20px;
}

.section-about2 .about3 {
  margin-left: 85px;
}
/*End Section About2 */

/*Section Icon */
.partner {
  background: #e3f3f3;
  height: 33rem;
  content-visibility: auto;
}

.icon1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.iconwater i {
  padding: 31px 0;
  color: #ffffff;
}

.iconwater {
  border-radius: 100px;
  background: #53aded;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconlistrik {
  border-radius: 100px;
  background: #ffa500;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconlistrik i {
  padding: 31px 0;
  color: #ffffff;
}

.icongas {
  border-radius: 100px;
  background: #ff7f00;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.icongas i {
  padding: 31px 0;
  color: #ffffff;
}

.iconshopping {
  border-radius: 100px;
  background: #ffc0cb;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconshopping i {
  padding: 31px 0;
  color: #ffffff;
}

.iconphone {
  border-radius: 100px;
  background: #000080;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconphone i {
  padding: 31px 0;
  color: #ffffff;
}
/*Section Icon2 */
.icon2 {
  display: flex;
  flex-wrap: nowrap;
  margin: 67px 67px 0px 67px;
  justify-content: space-evenly;
}

.iconcredit {
  border-radius: 100px;
  background: #068a63;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconcredit i {
  padding: 31px 0;
  color: #ffffff;
}

.iconinsurance {
  border-radius: 100px;
  background: #068a63;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconinsurance i {
  padding: 31px 0;
  color: #ffffff;
}

.iconmontage {
  border-radius: 100px;
  background: #5260f4;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconmontage i {
  padding: 31px 0;
  color: #ffffff;
}

.iconbills {
  border-radius: 100px;
  background: #4e5371;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.iconbills i {
  padding: 31px 0;
  color: #ffffff;
}

/*End Section Icon2 */

.market-button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.market-button a {
  color: #ffffff;
  background: #ff6347;
}

.market-button a:hover {
  background: #ff6347;
  color: #ffffff;
}

/* Download App */

.downloadapp {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.buttondownload {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.buttondownload a {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.buttondownload i {
  font-size: 30px;
}

.barcode img {
  height: 134px;
  width: 134px;
}

.downloadhandphone {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.downloadhandphone img {
  height: 35rem;
  width: 18rem;
  box-shadow: 8px 4px #ff6347;
}

/*Footer */
.footer {
  background: #c7e6e8;
}

.head-footer {
  display: flex;
  justify-content: space-between;
}

.text-footer h1 {
  color: #ffffff;
  background: #000000;
  width: fit-content;
}

.text-footer h2 {
  color: #ffffff;
  background: #000000;
  width: fit-content;
}

.menu-footer a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}

.copyright {
  display: flex;
  align-items: flex-end;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.instagram {
  background: #000000;
  border-radius: 25px;
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.instagram i {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 8px;
}

.facebook {
  background: #000000;
  border-radius: 25px;
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.facebook i {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 8px;
}

.twitter {
  background: #000000;
  border-radius: 25px;
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.twitter i {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 8px;
}

.whatsapp {
  background: #000000;
  border-radius: 25px;
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.whatsapp i {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 8px;
}
/*End Footer */

/*RESPONSIVE */
@media (min-width: 768px) and (max-width: 991.98px) {
  .headcontent img {
    height: 39rem;
    width: 19rem;
    margin-left: -143px;
  }
}
